body {
    /*evt bakgrunn av noe relatert til meg, feks bilde jeg har tatt (naturbilde, feks vinter)*/
    background: linear-gradient(to bottom, #667db6, #0082c8, #0082c8, #667db6);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  /* legge til endring ved skalering */

  section {
    background-color: #f1f1f1;
    padding: 40px;
    margin-bottom: 20px;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    z-index: 999;
  }
  
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }  
  
  /* .line {
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
  } */

  .navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar li {
    margin: 0 10px;
  }
  
  .navbar li a {
    text-decoration: none;
    color: #fff;
    padding: 40px;
  }
  
  .navbar li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
  }
  
  /* ul {
    list-style-type: none;
    display: flex;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    position: relative;
  }
  
  a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  a:hover::after {
    transform: scaleX(1);
  } */

  #home img {
    width: 50px; /* Adjust the width as desired */
    height: 50px; /* Adjust the height as desired */
    border-radius: 50%; /* To create a circular shape */
    object-fit: cover; /* To maintain the aspect ratio of the image */
    position: absolute;
    top: 10px; /* Adjust the top position as desired */
    right: 10px; /* Adjust the right position as desired */
  }