body {
    /*evt bakgrunn av noe relatert til meg, feks bilde jeg har tatt (naturbilde, feks vinter)*/
    background: linear-gradient(to bottom, #667db6, #0082c8, #0082c8, #667db6);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  /* legge til endring ved skalering */

  section {
    background-color: #f1f1f1;
    padding: 40px;
    margin-bottom: 20px;
  }