body {
    /*evt bakgrunn av noe relatert til meg, feks bilde jeg har tatt (naturbilde, feks vinter)*/
    background: linear-gradient(to bottom, #667db6, #0082c8, #0082c8, #667db6);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  /* legge til endring ved skalering */

  section {
    background-color: #f1f1f1;
    padding: 40px;
    margin-bottom: 20px;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    z-index: 999;
  }
  
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }  
  
  /* .line {
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
  } */

  .navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar li {
    margin: 0 10px;
  }
  
  .navbar li a {
    text-decoration: none;
    color: #fff;
    padding: 40px;
  }
  
  .navbar li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
  }
  
  /* ul {
    list-style-type: none;
    display: flex;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    position: relative;
  }
  
  a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  a:hover::after {
    transform: scaleX(1);
  } */

  #home {
    position: relative;
    margin-top: 50px;
  }

  #about {
    position: relative; /* Ensure the section is a positioned element */
  }

  #slideshow {
    position: relative; /* Ensure the section is a positioned element */
    }
  
  #about img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    object-fit: cover;
    position: absolute;
    top: 0; /*Adjust the top position as desired */
    left: 0; /*Adjust the left position as desired*/
    margin-right: 10px; /* Add some margin to the right for spacing */
  }

  #about h2,
  #about p {
    margin-left: 60px; /* Adjust the margin as desired */
  }

  #home img {
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 10px; /* Add some margin to the right for spacing */
  }

  #slideshow {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .slide {
    display: none;
  }
  
  .slide img {
    max-width: 100%;
  }

  canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }