body {
    background-color: #f3f3f3;
    background-image: linear-gradient(90deg, transparent 50%, rgba(0, 0, 0, 0.05) 50%);
    background-size: 200px 100%;
  }

  /* legge til endring ved skalering */